.board {
  display: grid;
  grid-template-columns: repeat(8, 5vw);
  grid-template-rows: repeat(8, 5vw);
  gap: 0;
  width: 100vw;
  height: 100vh;
}

.cell {
 display: flex;
 align-items: center;
 justify-content: center;
}

/* .cell:hover {
  background-color: yellow;
} */

.darkCell {
  background-color: var(--dark-cell);
}

.lightCell {
  background-color: var(--light-cell);
}